/* Custom CSS for application */

.sweet-alert {
    box-sizing : border-box;
    max-height : 100% !important;
    overflow-y : auto !important;
    padding : 0 17px 17px !important;
    width : 512px;
}
.sweet-alert:before {
    content : "";
    display : block;
    height : 17px;
    width : 0;
}

/* extra Text classes */
.text-bold {
    font-weight: bold;
}

/* Finger on hover */
.finger:hover {
    cursor: pointer;
}

.linkDark {
    color: #333;
}

.linkDark:hover {
    color: #333;
}

.linkGreen {
    color: #26C281;
}

.linkGreen:hover {
    color: #26C281;
}


/* bootstrap no border table class */
.table.no-border tr td, .table.no-border tr th {
    border-width: 0;
}

/* Metronic Line Steps Done colour */
.mt-element-step .step-line .done .mt-step-number {
    color: #FFFFFF !important;
    border-color: #555555 !important;
    background-color: #555555 !important;
}

.mt-element-step .step-line .done .mt-step-content, .mt-element-step .step-line .done .mt-step-title {
    color: #555555 !important;
}

.mt-element-step .step-line .done .mt-step-title::after, .mt-element-step .step-line .done .mt-step-title::before {
    background-color: #555555;
}

#master-div > span {
    width: 100%;
}

span.select2.select2-container.select2-container--bootstrap {
    width: 100%;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

/*  Custom 2 Col table style  */
.table.col2-table tr td, .table.col2-table tr th {
    border-width: 0;
    padding: 4px 10px;
}

.table.col2-table tr th {
    border-width: 0;
    text-align: right;
}

/* custom row header for tables */
.mytable-header {
    background: #f0f6fa;
}

/* bootstap sitch label */
.myswitch-label {
    margin: 0 0 5px 0;
    font-weight: 400;
    font-size: 14px;
}

/* Select2 - Over-rides */
.select2-results__group {
    font-size: 16px !important;
    font-weight: 800 !important;
    color: #333 !important;
    background: #eee;
    border-bottom: 1px solid #ccc;
}

/* Notes */
.note.note-grey {
    background-color: #ff0000 !important;
    border-color: #f3cc31;
    color: #000;
}

/*  Active tabs - Over-rides */
.tabbable-custom > .nav-tabs > li.active {
    border-top: 3px solid #44b6ae;
}

/* Planner + WMS styles */
.todayBG {
    background: #FEFAEA;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

/* Planner + WMS styles */
.sideColBG {
    background: #f5f5f5;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.leaveBG {
    background: #EDEBD1;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.pastleaveBG {
    background: #F8F7EC;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.hoverDiv {
    /*background: #fff;*/
    min-height: 50px;
    padding: 10px;
}

.hoverDiv:hover {
    background: #f5f5f5;
    /*background: #faeaa9;*/
    cursor: pointer;
    cursor: hand;
}

.hoverDiv0 {
    /*background: #fff;*/
    padding: 0px;
}

.hoverDiv0:hover {
    background: #f5f5f5;
    /*background: #faeaa9;*/
    cursor: pointer;
    cursor: hand;
}

.hoverHead {
    /*color: #ffffff;*/
}

.hoverHead:hover {
    /*color: #f9e491;*/
    color: #ff0000;
    cursor: pointer;
    cursor: hand;
}

.hoverLi {
    padding: 2px;
}

.hoverLi:hover {
    background: #f5f5f5;
    /*background: #faeaa9;*/
    cursor: pointer;
    cursor: hand;
}

.row-striped:nth-of-type(odd) {
    background-color: #ffffff;
}

.row-striped:nth-of-type(even) {
    background-color: #fcfcfc;
}

/* border between cols - used in weekly date picker */
.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between > [class*='col-']:first-child:before {
    display: none;
}

/* Loading Spinner */
.loadSpinnerOverlay {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

.loadSpinner {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 150px;
    /*height: 130px; */
    background-color: White;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}

/* Mega Menu Custom */
.page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a:focus, .page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a:hover {
    color: #fff;
    /*background: #556171 !important; */
}

.page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li:focus, .page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li:hover {
    /*background: #556171 !important; */
}

/* Mega Menu Custom */
.h3-submenu {
    color: #FFF !important;
    font-size: 18px !important;
}

@media (max-width: 991px) {
    .h3-submenu {
        color: #72808a !important;
    }
}

/* yajrabox datatables icons */
td.details-control {
    background: url('/img/details_open.png') no-repeat center center;
    cursor: pointer;
    width: 18px;
}

tr.shown td.details-control {
    background: url('/img/details_close.png') no-repeat center center;
}

/***
Custom color buttons
***/
.a.btnn-grey-cararra {
    background-color: #ff0000;
}

.a.btnn-grey-cararra:hover {
    background-color: #ff0000;
    color: #ff0000;
}

.field-hr {
    margin: 10px 0px;
}

/***
Diff Compare
***/
.diff td {
    padding:0 0.667em;
    vertical-align:top;
    white-space:pre;
    white-space:pre-wrap;
    font-family:Consolas,'Courier New',Courier,monospace;
    font-size:0.75em;
    line-height:1.333;
}

.diff span {
    display:block;
    min-height:1.333em;
    margin-top:-1px;
    padding:0 3px;
}

.diff span {
    height:1.333em;
}

.diff span:first-child {
    margin-top:0;
}

.diffDeleted span {
    border:1px solid rgb(255,192,192);
    background:rgb(255,224,224);
}

.diffInserted span {
    border:1px solid rgb(192,255,192);
    background:rgb(224,255,224);
}

/***************************************************************************
* Member Bar
***************************************************************************/

.member-bar {
    background: #32c5d2;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    color: #fff;
    position: relative;
}

.member-bar .member-bar-menu {
    padding: 0;
    float: right;
    height: 99px;
    margin: 0;
}

.member-bar .member-bar-item {
    display: inline-block;
    height: inherit;
    width: 95px;
    vertical-align: top;
    color: #fff;
    position: relative;
    text-align: center;
    margin-right: -4px;
}

.member-bar .member-bar-item:hover i {
    opacity: 1;
}

.member-bar .member-bar-item.active .member-bar-link, .member-bar .member-bar-item.active i {
    opacity: 1 !important;
}

.member-bar .member-bar-item:last-child {
    margin-right: 0;
}

.member-bar .member-bar-item i {
    opacity: 0.5;
}

.member-bar .member-bar-item i:before {
    margin-top: 20px;
}

.member-bar .member-bar-item i.icon-customer:before, .member-bar .member-bar-item i.icon-domains:before, .member-bar .member-bar-item i.icon-hosting:before {
    margin-top: 22px;
}

.member-bar .member-bar-item:hover {
    background: #24ACBA; /* icon hover background colour */
}

@media screen and (max-width: 825px) {
    .member-bar .member-bar-item:hover {
        background-color: transparent;
    }

    .member-bar .member-bar-item:hover .member-bar-link:hover, .member-bar .member-bar-item:hover i {
        opacity: 0.5;
    }
}

.member-bar .member-bar-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 148px;
    opacity: 0.5;
    font-size: 13px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .member-bar .member-bar-link {
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
    }
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .member-bar .member-bar-link {
        -webkit-font-smoothing: subpixel-antialiased;
        font-weight: 500;
    }
}

.member-bar .member-bar-link:hover {
    color: #fff;
    /*background: #24ACBA;*/
    text-decoration: none;
    opacity: 1;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .member-bar .member-status {
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
    }
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .member-bar .member-status {
        -webkit-font-smoothing: subpixel-antialiased;
        font-weight: 500;
    }
}

.member-bar.terminated, .member-bar.suspended, .member-bar.disabled {
    background: #F44336;
}

.member-bar.terminated .member-bar-item:hover, .member-bar.suspended .member-bar-item:hover, .member-bar.disabled .member-bar-item:hover {
    background: #f32c1e;
}

@media screen and (max-width: 825px) {
    .member-bar.terminated .member-bar-item:hover, .member-bar.suspended .member-bar-item:hover, .member-bar.disabled .member-bar-item:hover {
        background-color: transparent;
    }
}

.member-bar .member-name {
    width: 420px;
    margin: 20px 0 16px 90px;
    display: inline-block;
    text-transform: uppercase;
}

.member-bar .member-name a {
    color: #fff;
    font-size: 30px;
}

.member-bar .member-name a:hover {
    color: #fff;
}

.member-bar .member-name a.member-status {
    font-size: 13px;
    opacity: 0.7;
}

.member-bar .member-name a.member-status:hover {
    opacity: 1;
}

.member-bar .member-name a.status-update {
    display: inline-block;
    margin-bottom: 2px;
    text-transform: none;
}

.member-bar .member-name .status-update {
    font-size: 25px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.member-bar .member-name .member-number, .member-bar .member-name .member-split {
    display: inline-block;
    font-weight: normal;
    font-size: 13px;
    opacity: 0.7;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .member-bar .member-name .member-number, .member-bar .member-name .member-split {
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
    }
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .member-bar .member-name .member-number, .member-bar .member-name .member-split {
        -webkit-font-smoothing: subpixel-antialiased;
        font-weight: 500;
    }
}

@media screen and (max-width: 991px) {
    .member-bar .member-name {
        width: 330px;
    }
}

@media screen and (max-width: 920px) {
    .member-bar .member-name {
        width: 270px;
    }
}

@media screen and (max-width: 480px) {
    .member-bar .member-name {
        padding: 0 20px;
    }
}

@media screen and (max-width: 825px) {
    .member-bar .member-name {
        margin: 20px auto 16px;
        display: block;
        text-align: center;
        width: auto;
    }

    .member-bar .user-icon {
        font-size: 230px;
        bottom: 60px;
        left: -35px;
    }

    .member-bar .member-bar-menu {
        width: 100%;
        position: relative;
        z-index: 2;
    }

    .member-bar .member-bar-item {
        width: 20%;
    }

    .member-bar .member-bar-item i {
        width: 100%;
    }

    .member-bar .icon-user-member-bar:before {
        content: none;
    }
}

/*****************************************************
* Document Summary
*****************************************************/

.doc-summary {
    margin: 0px !important;
    padding: 0px !important;
}

.doc-summary-total {
    color: #212121;
    min-height: 180px;
    height: 180px;
    padding: 10px;
    vertical-align: middle;
    display: inline-block
}

.doc-summary-total:hover {
    background: #D6F3F6;
    cursor: pointer;
    cursor: hand;
}

.doc-summary-total-link {
    height: 180px;
    vertical-align: middle;
}

.doc-summary-subtotal {
    background: #ACE8EE;
    color: #212121;
    line-height: 25px;
    min-height: 25px;
    padding: 10px 30px 10px 20px;
}

.doc-summary-subtotal:hover {
    background: #82DCE5;
    cursor: pointer;
    cursor: hand;
}

.doc-summary-subtotal-count {
    font-size: 22px;
    float: right;
}

.doc-missing {
    color: #333;
}

.doc-missing-link {
    color: #333;
}

.doc-missing-link:hover {
    color: #000000;
    text-decoration: none;
}

.doc-bar {
    padding: 0px !important;
    background: #ffffff !important;
}

.doc-bar-item {
    color: #212121;
    /*background: #D6F3F6;*/
    font-size: 15px;
    font-weight: 700;
    min-height: 35px;
    width: 60%;
    height: 35px;
    padding: 10px 20px;
    vertical-align: middle;
    display: inline-block
}

.doc-bar-count {
    color: #FFFFFF;
    /*background: #82DCE5;*/
    font-size: 20px;
    font-weight: 700;
    min-height: 40px;
    height: 40px;
    width: 30%;
    padding: 5px 10px;
    vertical-align: middle;
    display: inline-block
}

/*****************************************************
*  Icons
*****************************************************/
[class*="icon-"]:before {
    content: '';
    display: inline-block;
}

.icon-user-member-bar:before {
    background: url("/img/icon-user.png") no-repeat;
    background-position: 0 0;
    width: 101px;
    height: 108px;
    opacity: 0.4;
    position: absolute;
    bottom: -22px;
    left: -15px;
    z-index: 1;
}

.icon-users-member-bar:before {
    background: url("/img/icon-users.png") no-repeat;
    background-position: 0 0;
    width: 101px;
    height: 108px;
    opacity: 0.4;
    position: absolute;
    bottom: -22px;
    left: -15px;
    z-index: 1;
}

.icon-profile:before, .icon-document:before, .icon-staff:before, .icon-lock:before {
    width: 40px;
    height: 40px;
    margin-left: -10px;
    z-index: 1;
}

.icon-profile:before {
    background: url("/img/icon-profile.png") no-repeat;
}

.icon-document:before {
    background: url("/img/icon-folder.png") no-repeat;
}

.icon-staff:before {
    background: url("/img/icon-staff.png") no-repeat;
}

.icon-lock:before {
    background: url("/img/icon-lock.png") no-repeat;
}

.tabs .tabs-item {
    display: inline-block;
    border-bottom: 4px solid transparent;
}

.tabs .tabs-item.active {
    border-color: #2FBCF1;
}

.tabs .tabs-item:hover {
    border-color: #a6e2f9;
}

.tabs .tabs-link {
    color: inherit;
    padding: 12px;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
}

/*
.btn.grey-cararra:not(.btn-outline) {
    color: #666;
    background-color: #ffffff;
    border-color: #fafafa;
}

.btn.grey-cararra:not(.btn-outline):focus, .btn.grey-cararra:not(.btn-outline).focus {
    color: #666;
    background-color: #e6e6e6;
    border-color: #bfbfbf;
}

.btn.grey-cararra:not(.btn-outline):hover {
    color: #666;
    background-color: #e6e6e6;
    border-color: #e0e0e0;
}

.btn.grey-cararra:not(.btn-outline):active, .btn.grey-cararra:not(.btn-outline).active,
.open > .btn.grey-cararra:not(.btn-outline).dropdown-toggle {
    color: #666;
    background-color: #e6e6e6;
    border-color: #e0e0e0;
}

.btn.grey-cararra:not(.btn-outline):active:hover, .btn.grey-cararra:not(.btn-outline):active:focus, .btn.grey-cararra:not(.btn-outline):active.focus, .btn.grey-cararra:not(.btn-outline).active:hover, .btn.grey-cararra:not(.btn-outline).active:focus, .btn.grey-cararra:not(.btn-outline).active.focus,
.open > .btn.grey-cararra:not(.btn-outline).dropdown-toggle:hover,
.open > .btn.grey-cararra:not(.btn-outline).dropdown-toggle:focus,
.open > .btn.grey-cararra:not(.btn-outline).dropdown-toggle.focus {
    color: #666;
    background-color: #d4d4d4;
    border-color: #bfbfbf;
}

.btn.grey-cararra:not(.btn-outline):active, .btn.grey-cararra:not(.btn-outline).active,
.open > .btn.grey-cararra:not(.btn-outline).dropdown-toggle {
    background-image: none;
}

.btn.grey-cararra:not(.btn-outline).disabled:hover, .btn.grey-cararra:not(.btn-outline).disabled:focus, .btn.grey-cararra:not(.btn-outline).disabled.focus, .btn.grey-cararra:not(.btn-outline)[disabled]:hover, .btn.grey-cararra:not(.btn-outline)[disabled]:focus, .btn.grey-cararra:not(.btn-outline)[disabled].focus,
fieldset[disabled] .btn.grey-cararra:not(.btn-outline):hover,
fieldset[disabled] .btn.grey-cararra:not(.btn-outline):focus,
fieldset[disabled] .btn.grey-cararra:not(.btn-outline).focus {
    background-color: #fafafa;
    border-color: #fafafa;
}

.btn.grey-cararra:not(.btn-outline) .badge {
    color: #fafafa;
    background-color: #666;
}

.btn.btn-outline.grey-cararra {
    border-color: #fafafa;
    color: #fafafa;
    background: none;
}

.btn.btn-outline.grey-cararra:hover, .btn.btn-outline.grey-cararra:active, .btn.btn-outline.grey-cararra:active:hover, .btn.btn-outline.grey-cararra:active:focus, .btn.btn-outline.grey-cararra:focus, .btn.btn-outline.grey-cararra.active {
    border-color: #000;
    color: #666;
    background-color: #ff0000;
}

.btn.grey-cararra-stripe {
    border-left: 4px solid #fafafa !important;
}

.btn.grey-cararra.btn-no-border:not(.active) {
    border-color: transparent;
}*/

/************************************************

.member-bar {
    background: #17bbf1;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    color: #fff;
    position: relative;
}

.member-bar .member-bar-menu {
    padding: 0;
    float: right;
    height: 99px;
    margin: 0;
}

.member-bar .member-bar-item {
    display: inline-block;
    height: inherit;
    width: 85px;
    vertical-align: top;
    color: #fff;
    position: relative;
    text-align: center;
    margin-right: -4px;
}

.member-bar .member-bar-item:hover i {
    opacity: 1;
}

.member-bar .member-bar-item.active .member-bar-link, .member-bar .member-bar-item.active i {
    opacity: 1 !important;
}

.member-bar .member-bar-item:last-child {
    margin-right: 0;
}

.member-bar .member-bar-item i {
    opacity: 0.5;
}

.member-bar .member-bar-item i:before {
    margin-top: 20px;
}

.member-bar .member-bar-item i.icon-customer:before, .member-bar .member-bar-item i.icon-domains:before, .member-bar .member-bar-item i.icon-hosting:before {
    margin-top: 22px;
}

.member-bar .member-bar-item:hover {
    background: #0eade1;
}

@media screen and (max-width: 825px) {
    .member-bar .member-bar-item:hover {
        background-color: transparent;
    }

    .member-bar .member-bar-item:hover .member-bar-link:hover, .member-bar .member-bar-item:hover i {
        opacity: 0.5;
    }
}

.member-bar .member-bar-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 148px;
    opacity: 0.5;
    font-size: 13px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .member-bar .member-bar-link {
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
    }
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .member-bar .member-bar-link {
        -webkit-font-smoothing: subpixel-antialiased;
        font-weight: 500;
    }
}

.member-bar .member-bar-link:hover {
    color: #fff;
    text-decoration: none;
    opacity: 1;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .member-bar .member-status {
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
    }
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .member-bar .member-status {
        -webkit-font-smoothing: subpixel-antialiased;
        font-weight: 500;
    }
}

.member-bar.terminated, .member-bar.suspended, .member-bar.disabled {
    background: #F44336;
}

.member-bar.terminated .member-bar-item:hover, .member-bar.suspended .member-bar-item:hover, .member-bar.disabled .member-bar-item:hover {
    background: #f32c1e;
}

@media screen and (max-width: 825px) {
    .member-bar.terminated .member-bar-item:hover, .member-bar.suspended .member-bar-item:hover, .member-bar.disabled .member-bar-item:hover {
        background-color: transparent;
    }
}

.member-bar .member-name {
    width: 420px;
    margin: 20px 0 16px 90px;
    display: inline-block;
    text-transform: uppercase;
}

.member-bar .member-name a {
    color: #fff;
    font-size: 30px;
}

.member-bar .member-name a:hover {
    color: #fff;
}

.member-bar .member-name a.member-status {
    font-size: 13px;
    opacity: 0.7;
}

.member-bar .member-name a.member-status:hover {
    opacity: 1;
}

.member-bar .member-name a.status-update {
    display: inline-block;
    margin-bottom: 2px;
    text-transform: none;
}

.member-bar .member-name .status-update {
    font-size: 25px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.member-bar .member-name .member-number, .member-bar .member-name .member-split {
    display: inline-block;
    font-weight: normal;
    font-size: 13px;
    opacity: 0.7;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .member-bar .member-name .member-number, .member-bar .member-name .member-split {
        -webkit-font-smoothing: antialiased;
        font-weight: 600;
    }
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .member-bar .member-name .member-number, .member-bar .member-name .member-split {
        -webkit-font-smoothing: subpixel-antialiased;
        font-weight: 500;
    }
}

@media screen and (max-width: 991px) {
    .member-bar .member-name {
        width: 330px;
    }
}

@media screen and (max-width: 920px) {
    .member-bar .member-name {
        width: 270px;
    }
}

@media screen and (max-width: 480px) {
    .member-bar .member-name {
        padding: 0 20px;
    }
}

@media screen and (max-width: 825px) {
    .member-bar .member-name {
        margin: 20px auto 16px;
        display: block;
        text-align: center;
        width: auto;
    }

    .member-bar .user-icon {
        font-size: 230px;
        bottom: 60px;
        left: -35px;
    }

    .member-bar .member-bar-menu {
        width: 100%;
        position: relative;
        z-index: 2;
    }

    .member-bar .member-bar-item {
        width: 20%;
    }

    .member-bar .member-bar-item i {
        width: 100%;
    }

    .member-bar .icon-user-member-bar:before {
        content: none;
    }
}
*/