/* Custom CSS for application */

/* extra Text classes */
.text-bold {
    font-weight: bold;
}

/* Finger on hover */
.finger:hover {
    cursor: pointer;
}

/* bootstrap no border table class */
.table.no-border tr td, .table.no-border tr th {
    border-width: 0;
}

/* Metronic Line Steps Done colour */
.mt-element-step .step-line .done .mt-step-number {
    color: #FFFFFF !important;
    border-color: #555555 !important;
    background-color: #555555 !important;
}

.mt-element-step .step-line .done .mt-step-content, .mt-element-step .step-line .done .mt-step-title {
    color: #555555 !important;
}

.mt-element-step .step-line .done .mt-step-title::after, .mt-element-step .step-line .done .mt-step-title::before {
    background-color: #555555;
}

#master-div > span {
    width: 100%;
}

span.select2.select2-container.select2-container--bootstrap {
    width: 100%;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

/*  Custom 2 Col table style  */
.table.col2-table tr td, .table.col2-table tr th {
    border-width: 0;
    padding: 4px 10px;
}

.table.col2-table tr th {
    border-width: 0;
    text-align: right;
}

/* custom row header for tables */
.mytable-header {
    background: #f0f6fa;
}

/* bootstap sitch label */
.myswitch-label {
    margin: 0 0 5px 0;
    font-weight: 400;
    font-size: 14px;
}

/* Select2 - Over-rides */
.select2-results__group {
    font-size: 16px !important;
    font-weight: 800 !important;
    color: #333 !important;
    background: #eee;
    border-bottom: 1px solid #ccc;
}

/*  Active tabs - Over-rides */
.tabbable-custom > .nav-tabs > li.active {
    border-top: 3px solid #44b6ae;
}

/* Planner + WMS styles */
.todayBG {
    background: #FEFAEA;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

/* Planner + WMS styles */
.sideColBG {
    background: #f5f5f5;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.leaveBG {
    background: #EDEBD1;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.pastleaveBG {
    background: #F8F7EC;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.hoverDiv {
    /*background: #fff;*/
    min-height: 50px;
    padding: 10px;
}

.hoverDiv:hover {
    background: #f5f5f5;
    /*background: #faeaa9;*/
    cursor: pointer;
    cursor: hand;
}

.hoverDiv0 {
    /*background: #fff;*/
    padding: 0px;
}

.hoverDiv0:hover {
    background: #f5f5f5;
    /*background: #faeaa9;*/
    cursor: pointer;
    cursor: hand;
}

.hoverHead {
    /*color: #ffffff;*/
}

.hoverHead:hover {
    /*color: #f9e491;*/
    color: #ff0000;
    cursor: pointer;
    cursor: hand;
}

.hoverLi {
    padding: 2px;
}

.hoverLi:hover {
    background: #f5f5f5;
    /*background: #faeaa9;*/
    cursor: pointer;
    cursor: hand;
}

.row-striped:nth-of-type(odd) {
    background-color: #ffffff;
}

.row-striped:nth-of-type(even) {
    background-color: #fcfcfc;
}

/* border between cols - used in weekly date picker */
.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between > [class*='col-']:first-child:before {
    display: none;
}

/* Loading Spinner */
.loadSpinnerOverlay {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

.loadSpinner {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 150px;
    /*height: 130px; */
    background-color: White;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}

/* Mega Menu Custom */
.page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a:focus, .page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a:hover {
    color: #fff;
    /*background: #556171 !important; */
}

.page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li:focus, .page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li:hover {
    /*background: #556171 !important; */
}

/* Mega Menu Custom */
.h3-submenu {
    color: #FFF !important;
    font-size: 18px !important;
}

@media (max-width: 991px) {
    .h3-submenu {
        color: #72808a !important;
    }
}

/* yajrabox datatables icons */
td.details-control {
    background: url('/img/details_open.png') no-repeat center center;
    cursor: pointer;
    width: 18px;
}

tr.shown td.details-control {
    background: url('/img/details_close.png') no-repeat center center;
}

/***
Custom color buttons
***/
.a.btnn-grey-cararra {
    background-color: #ff0000;
}
.a.btnn-grey-cararra:hover {
    background-color: #ff0000;
    color: #ff0000;
}

/*
.btn.grey-cararra:not(.btn-outline) {
    color: #666;
    background-color: #ffffff;
    border-color: #fafafa;
}

.btn.grey-cararra:not(.btn-outline):focus, .btn.grey-cararra:not(.btn-outline).focus {
    color: #666;
    background-color: #e6e6e6;
    border-color: #bfbfbf;
}

.btn.grey-cararra:not(.btn-outline):hover {
    color: #666;
    background-color: #e6e6e6;
    border-color: #e0e0e0;
}

.btn.grey-cararra:not(.btn-outline):active, .btn.grey-cararra:not(.btn-outline).active,
.open > .btn.grey-cararra:not(.btn-outline).dropdown-toggle {
    color: #666;
    background-color: #e6e6e6;
    border-color: #e0e0e0;
}

.btn.grey-cararra:not(.btn-outline):active:hover, .btn.grey-cararra:not(.btn-outline):active:focus, .btn.grey-cararra:not(.btn-outline):active.focus, .btn.grey-cararra:not(.btn-outline).active:hover, .btn.grey-cararra:not(.btn-outline).active:focus, .btn.grey-cararra:not(.btn-outline).active.focus,
.open > .btn.grey-cararra:not(.btn-outline).dropdown-toggle:hover,
.open > .btn.grey-cararra:not(.btn-outline).dropdown-toggle:focus,
.open > .btn.grey-cararra:not(.btn-outline).dropdown-toggle.focus {
    color: #666;
    background-color: #d4d4d4;
    border-color: #bfbfbf;
}

.btn.grey-cararra:not(.btn-outline):active, .btn.grey-cararra:not(.btn-outline).active,
.open > .btn.grey-cararra:not(.btn-outline).dropdown-toggle {
    background-image: none;
}

.btn.grey-cararra:not(.btn-outline).disabled:hover, .btn.grey-cararra:not(.btn-outline).disabled:focus, .btn.grey-cararra:not(.btn-outline).disabled.focus, .btn.grey-cararra:not(.btn-outline)[disabled]:hover, .btn.grey-cararra:not(.btn-outline)[disabled]:focus, .btn.grey-cararra:not(.btn-outline)[disabled].focus,
fieldset[disabled] .btn.grey-cararra:not(.btn-outline):hover,
fieldset[disabled] .btn.grey-cararra:not(.btn-outline):focus,
fieldset[disabled] .btn.grey-cararra:not(.btn-outline).focus {
    background-color: #fafafa;
    border-color: #fafafa;
}

.btn.grey-cararra:not(.btn-outline) .badge {
    color: #fafafa;
    background-color: #666;
}

.btn.btn-outline.grey-cararra {
    border-color: #fafafa;
    color: #fafafa;
    background: none;
}

.btn.btn-outline.grey-cararra:hover, .btn.btn-outline.grey-cararra:active, .btn.btn-outline.grey-cararra:active:hover, .btn.btn-outline.grey-cararra:active:focus, .btn.btn-outline.grey-cararra:focus, .btn.btn-outline.grey-cararra.active {
    border-color: #000;
    color: #666;
    background-color: #ff0000;
}

.btn.grey-cararra-stripe {
    border-left: 4px solid #fafafa !important;
}

.btn.grey-cararra.btn-no-border:not(.active) {
    border-color: transparent;
}*/